In [1]:
import os
import sys
import argparse
import numpy as np
import pandas as pd
from collections import defaultdict, OrderedDict

In [2]:
!pwd

/Users/liuzhichao/Documents/GitHub/Baidu_BigData_Competition

In [3]:
# change format of grid_attr.csv to a dict, with long&lat as key, region_id as value
def get_grid_dict(city_path, city_name):
    d = {}
    with open(os.path.join(city_path, 'grid_attr.csv'), 'r') as f:
        for line in f:
            items = line.strip().split(',')
            axis = ",".join(items[0:2])
            ID = items[2]
            d[axis] = "_".join([city_name, ID])

    # d = {'x,y': ID}
    return d

In [4]:
a = get_grid_dict("Data/city_A", "A")
a

{'146.757689,30.248075': 'A_0',
 '146.757689,30.249627': 'A_0',
 '146.757698,30.238715': 'A_0',
 '146.757698,30.240275': 'A_0',
 '146.757698,30.241835': 'A_0',
 '146.757698,30.243395': 'A_0',
 '146.757698,30.244955': 'A_0',
 '146.757698,30.246515': 'A_0',
 '146.757707,30.235595': 'A_0',
 '146.757707,30.237155': 'A_0',
 '146.759495,30.246484': 'A_0',
 '146.759495,30.248044': 'A_0',
 '146.759495,30.249604': 'A_0',
 '146.759504,30.237124': 'A_0',
 '146.759504,30.238684': 'A_0',
 '146.759504,30.240244': 'A_0',
 '146.759504,30.241804': 'A_0',
 '146.759504,30.243364': 'A_0',
 '146.759504,30.244924': 'A_0',
 '146.759513,30.235564': 'A_0',
 '146.7613,30.244893': 'A_0',
 '146.7613,30.246453': 'A_0',
 '146.7613,30.248013': 'A_0',
 '146.7613,30.249573': 'A_0',
 '146.761309,30.235533': 'A_0',
 '146.761309,30.237093': 'A_0',
 '146.761309,30.238653': 'A_0',
 '146.761309,30.240213': 'A_0',
 '146.761309,30.241773': 'A_0',
 '146.761309,30.243333': 'A_0',
 '146.763106,30.244862': 'A_0',
 '146.763106,30.246422': 'A_0',
 '146.763106,30.247982': 'A_0',
 '146.763106,30.249542': 'A_0',
 '146.763115,30.235502': 'A_0',
 '146.763115,30.237062': 'A_0',
 '146.763115,30.238622': 'A_0',
 '146.763115,30.240182': 'A_0',
 '146.763115,30.241742': 'A_0',
 '146.763115,30.243302': 'A_0',
 '146.764912,30.243271': 'A_0',
 '146.764912,30.244831': 'A_0',
 '146.764912,30.246391': 'A_0',
 '146.764912,30.24795': 'A_0',
 '146.764912,30.24951': 'A_0',
 '146.764921,30.23547': 'A_0',
 '146.764921,30.23703': 'A_0',
 '146.764921,30.238591': 'A_0',
 '146.764921,30.240151': 'A_0',
 '146.764921,30.241711': 'A_0',
 '146.766717,30.243239': 'A_0',
 '146.766717,30.244799': 'A_0',
 '146.766717,30.246352': 'A_0',
 '146.766717,30.247911': 'A_0',
 '146.766717,30.249471': 'A_0',
 '146.766726,30.235439': 'A_0',
 '146.766726,30.236999': 'A_0',
 '146.766726,30.238559': 'A_0',
 '146.766726,30.240119': 'A_0',
 '146.766726,30.241679': 'A_0',
 '146.768523,30.24164': 'A_0',
 '146.768523,30.2432': 'A_0',
 '146.768523,30.24476': 'A_0',
 '146.768523,30.24632': 'A_0',
 '146.768523,30.24788': 'A_0',
 '146.768523,30.24944': 'A_0',
 '146.768532,30.235408': 'A_0',
 '146.768532,30.236968': 'A_0',
 '146.768532,30.23852': 'A_0',
 '146.768532,30.24008': 'A_0',
 '146.770328,30.241609': 'A_0',
 '146.770328,30.243169': 'A_0',
 '146.770328,30.244729': 'A_0',
 '146.770328,30.246289': 'A_0',
 '146.770328,30.247849': 'A_0',
 '146.770328,30.249409': 'A_0',
 '146.770337,30.235369': 'A_0',
 '146.770337,30.236929': 'A_0',
 '146.770337,30.238489': 'A_0',
 '146.770337,30.240049': 'A_0',
 '146.772134,30.241578': 'A_0',
 '146.772134,30.243138': 'A_0',
 '146.772134,30.244698': 'A_0',
 '146.772134,30.24625': 'A_0',
 '146.772134,30.24781': 'A_0',
 '146.772134,30.24937': 'A_0',
 '146.772143,30.235338': 'A_0',
 '146.772143,30.236898': 'A_0',
 '146.772143,30.238458': 'A_0',
 '146.772143,30.240018': 'A_0',
 '146.773931,30.249339': 'A_0',
 '146.77394,30.239987': 'A_0',
 '146.77394,30.241539': 'A_0',
 '146.77394,30.243099': 'A_0',
 '146.77394,30.244659': 'A_0',
 '146.77394,30.246219': 'A_0',
 '146.77394,30.247779': 'A_0',
 '146.773949,30.235307': 'A_0',
 '146.773949,30.236867': 'A_0',
 '146.773949,30.238427': 'A_0',
 '146.973265,30.063989': 'A_1',
 '146.973265,30.065552': 'A_1',
 '146.973265,30.067115': 'A_1',
 '146.973265,30.068678': 'A_1',
 '146.973265,30.070241': 'A_1',
 '146.973274,30.071803': 'A_1',
 '146.973274,30.073366': 'A_1',
 '146.973274,30.074929': 'A_1',
 '146.973274,30.076491': 'A_1',
 '146.973274,30.078054': 'A_1',
 '146.975052,30.063997': 'A_1',
 '146.975061,30.06556': 'A_1',
 '146.975061,30.067123': 'A_1',
 '146.975061,30.068686': 'A_1',
 '146.975061,30.070248': 'A_1',
 '146.975061,30.071811': 'A_1',
 '146.975061,30.073374': 'A_1',
 '146.97507,30.074937': 'A_1',
 '146.97507,30.076499': 'A_1',
 '146.97507,30.078062': 'A_1',
 '146.976849,30.064005': 'A_1',
 '146.976858,30.065568': 'A_1',
 '146.976858,30.067131': 'A_1',
 '146.976858,30.068693': 'A_1',
 '146.976858,30.070256': 'A_1',
 '146.976858,30.071819': 'A_1',
 '146.976858,30.073382': 'A_1',
 '146.976858,30.074944': 'A_1',
 '146.976867,30.076507': 'A_1',
 '146.976867,30.07807': 'A_1',
 '146.978645,30.064005': 'A_1',
 '146.978645,30.065568': 'A_1',
 '146.978654,30.067131': 'A_1',
 '146.978654,30.068693': 'A_1',
 '146.978654,30.070256': 'A_1',
 '146.978654,30.071819': 'A_1',
 '146.978654,30.073382': 'A_1',
 '146.978654,30.074944': 'A_1',
 '146.978654,30.076507': 'A_1',
 '146.978663,30.07807': 'A_1',
 '146.980442,30.064005': 'A_1',
 '146.980442,30.065568': 'A_1',
 '146.980451,30.067131': 'A_1',
 '146.980451,30.068693': 'A_1',
 '146.980451,30.070256': 'A_1',
 '146.980451,30.071819': 'A_1',
 '146.980451,30.073382': 'A_1',
 '146.980451,30.074944': 'A_1',
 '146.98046,30.076507': 'A_1',
 '146.98046,30.07807': 'A_1',
 '146.982239,30.063997': 'A_1',
 '146.982248,30.06556': 'A_1',
 '146.982248,30.067123': 'A_1',
 '146.982248,30.068686': 'A_1',
 '146.982248,30.070248': 'A_1',
 '146.982248,30.071811': 'A_1',
 '146.982248,30.073374': 'A_1',
 '146.982257,30.074937': 'A_1',
 '146.982257,30.076499': 'A_1',
 '146.982257,30.078062': 'A_1',
 '146.984044,30.063989': 'A_1',
 '146.984044,30.065552': 'A_1',
 '146.984044,30.067115': 'A_1',
 '146.984044,30.068678': 'A_1',
 '146.984044,30.070241': 'A_1',
 '146.984044,30.071803': 'A_1',
 '146.984053,30.073366': 'A_1',
 '146.984053,30.074929': 'A_1',
 '146.984053,30.076491': 'A_1',
 '146.984053,30.078054': 'A_1',
 '146.985841,30.063982': 'A_1',
 '146.985841,30.065544': 'A_1',
 '146.985841,30.067107': 'A_1',
 '146.985841,30.06867': 'A_1',
 '146.98585,30.070233': 'A_1',
 '146.98585,30.071796': 'A_1',
 '146.98585,30.073358': 'A_1',
 '146.98585,30.074921': 'A_1',
 '146.98585,30.076484': 'A_1',
 '146.98585,30.078046': 'A_1',
 '146.987638,30.063966': 'A_1',
 '146.987638,30.065529': 'A_1',
 '146.987647,30.067092': 'A_1',
 '146.987647,30.068654': 'A_1',
 '146.987647,30.070217': 'A_1',
 '146.987647,30.07178': 'A_1',
 '146.987647,30.073343': 'A_1',
 '146.987647,30.074905': 'A_1',
 '146.987655,30.076468': 'A_1',
 '146.987655,30.078031': 'A_1',
 '146.989443,30.06395': 'A_1',
 '146.989443,30.065513': 'A_1',
 '146.989443,30.067076': 'A_1',
 '146.989443,30.068639': 'A_1',
 '146.989443,30.070202': 'A_1',
 '146.989452,30.071764': 'A_1',
 '146.989452,30.073327': 'A_1',
 '146.989452,30.07489': 'A_1',
 '146.989452,30.076452': 'A_1',
 '146.989452,30.078015': 'A_1',
 '146.991222,30.26687': 'A_2',
 '146.991222,30.26843': 'A_2',
 '146.991222,30.269989': 'A_2',
 '146.991222,30.271549': 'A_2',
 '146.991222,30.273108': 'A_2',
 '146.991222,30.274668': 'A_2',
 '146.991222,30.276227': 'A_2',
 '146.991222,30.277787': 'A_2',
 '146.991222,30.279346': 'A_2',
 '146.991222,30.280906': 'A_2',
 '146.993018,30.266855': 'A_2',
 '146.993018,30.268414': 'A_2',
 '146.993018,30.269974': 'A_2',
 '146.993018,30.271525': 'A_2',
 '146.993018,30.273085': 'A_2',
 '146.993018,30.274644': 'A_2',
 '146.993018,30.276204': 'A_2',
 '146.993018,30.277763': 'A_2',
 '146.993027,30.279331': 'A_2',
 '146.993027,30.28089': 'A_2',
 '146.994824,30.266823': 'A_2',
 '146.994824,30.268383': 'A_2',
 '146.994824,30.269943': 'A_2',
 '146.994824,30.271502': 'A_2',
 '146.994824,30.273062': 'A_2',
 '146.994824,30.274621': 'A_2',
 '146.994824,30.276181': 'A_2',
 '146.994824,30.27774': 'A_2',
 '146.994824,30.279299': 'A_2',
 '146.994824,30.280859': 'A_2',
 '146.99663,30.2668': 'A_2',
 '146.99663,30.26836': 'A_2',
 '146.99663,30.269919': 'A_2',
 '146.99663,30.271479': 'A_2',
 '146.99663,30.273038': 'A_2',
 '146.99663,30.274598': 'A_2',
 '146.99663,30.276157': 'A_2',
 '146.99663,30.277717': 'A_2',
 '146.99663,30.279276': 'A_2',
 '146.99663,30.280835': 'A_2',
 '146.998426,30.268336': 'A_2',
 '146.998426,30.269896': 'A_2',
 '146.998426,30.271447': 'A_2',
 '146.998435,30.266777': 'A_2',
 '146.998435,30.273007': 'A_2',
 '146.998435,30.274566': 'A_2',
 '146.998435,30.276126': 'A_2',
 '146.998435,30.277685': 'A_2',
 '146.998435,30.279253': 'A_2',
 '146.998435,30.280812': 'A_2',
 '147.000232,30.266745': 'A_2',
 '147.000232,30.268305': 'A_2',
 '147.000232,30.269865': 'A_2',
 '147.000232,30.271424': 'A_2',
 '147.000232,30.272984': 'A_2',
 '147.000232,30.274543': 'A_2',
 '147.000232,30.276103': 'A_2',
 '147.000232,30.277662': 'A_2',
 '147.000241,30.279221': 'A_2',
 '147.000241,30.280781': 'A_2',
 '147.002037,30.266714': 'A_2',
 '147.002037,30.268274': 'A_2',
 '147.002037,30.269833': 'A_2',
 '147.002037,30.271393': 'A_2',
 '147.002037,30.272952': 'A_2',
 '147.002037,30.274512': 'A_2',
 '147.002037,30.276071': 'A_2',
 '147.002037,30.277631': 'A_2',
 '147.002037,30.27919': 'A_2',
 '147.002046,30.28075': 'A_2',
 '147.003843,30.266683': 'A_2',
 '147.003843,30.268243': 'A_2',
 '147.003843,30.269802': 'A_2',
 '147.003843,30.271362': 'A_2',
 '147.003843,30.272921': 'A_2',
 '147.003843,30.274481': 'A_2',
 '147.003843,30.27604': 'A_2',
 '147.003843,30.2776': 'A_2',
 '147.003843,30.279159': 'A_2',
 '147.003843,30.280718': 'A_2',
 '147.005649,30.266644': 'A_2',
 '147.005649,30.268204': 'A_2',
 '147.005649,30.269763': 'A_2',
 '147.005649,30.271323': 'A_2',
 '147.005649,30.272882': 'A_2',
 '147.005649,30.274442': 'A_2',
 '147.005649,30.276001': 'A_2',
 '147.005649,30.277561': 'A_2',
 '147.005649,30.27912': 'A_2',
 '147.005649,30.280679': 'A_2',
 '147.007454,30.266613': 'A_2',
 '147.007454,30.268172': 'A_2',
 '147.007454,30.269732': 'A_2',
 '147.007454,30.271292': 'A_2',
 '147.007454,30.272851': 'A_2',
 '147.007454,30.274411': 'A_2',
 '147.007454,30.27597': 'A_2',
 '147.007454,30.277529': 'A_2',
 '147.007454,30.279089': 'A_2',
 '147.007454,30.280648': 'A_2',
 '147.045282,30.249089': 'A_3',
 '147.045291,30.239737': 'A_3',
 '147.045291,30.241289': 'A_3',
 '147.045291,30.242849': 'A_3',
 '147.045291,30.244409': 'A_3',
 '147.045291,30.245969': 'A_3',
 '147.045291,30.247529': 'A_3',
 '147.0453,30.235057': 'A_3',
 '147.0453,30.236617': 'A_3',
 '147.0453,30.238177': 'A_3',
 '147.047078,30.245985': 'A_3',
 '147.047078,30.247545': 'A_3',
 '147.047078,30.249105': 'A_3',
 '147.047087,30.236625': 'A_3',
 '147.047087,30.238185': 'A_3',
 '147.047087,30.239745': 'A_3',
 '147.047087,30.241305': 'A_3',
 '147.047087,30.242865': 'A_3',
 '147.047087,30.244425': 'A_3',
 '147.047096,30.235065': 'A_3',
 '147.048875,30.242881': 'A_3',
 '147.048875,30.244441': 'A_3',
 '147.048875,30.246001': 'A_3',
 '147.048875,30.24756': 'A_3',
 '147.048875,30.24912': 'A_3',
 '147.048884,30.23508': 'A_3',
 '147.048884,30.23664': 'A_3',
 '147.048884,30.238201': 'A_3',
 '147.048884,30.239761': 'A_3',
 '147.048884,30.241321': 'A_3',
 '147.050663,30.247576': 'A_3',
 '147.050663,30.249136': 'A_3',
 '147.050672,30.238216': 'A_3',
 '147.050672,30.239776': 'A_3',
 '147.050672,30.241336': 'A_3',
 '147.050672,30.242896': 'A_3',
 '147.050672,30.244456': 'A_3',
 '147.050672,30.246016': 'A_3',
 '147.050681,30.235104': 'A_3',
 '147.050681,30.236664': 'A_3',
 '147.052459,30.24136': 'A_3',
 '147.052459,30.24292': 'A_3',
 '147.052459,30.24448': 'A_3',
 '147.052459,30.24604': 'A_3',
 '147.052459,30.247599': 'A_3',
 '147.052459,30.249159': 'A_3',
 '147.052468,30.235119': 'A_3',
 '147.052468,30.236679': 'A_3',
 '147.052468,30.23824': 'A_3',
 '147.052468,30.2398': 'A_3',
 '147.054247,30.244503': 'A_3',
 '147.054247,30.246063': 'A_3',
 '147.054247,30.247623': 'A_3',
 '147.054247,30.249183': 'A_3',
 '147.054256,30.235143': 'A_3',
 '147.054256,30.236703': 'A_3',
 '147.054256,30.238263': 'A_3',
 '147.054256,30.239823': 'A_3',
 '147.054256,30.241383': 'A_3',
 '147.054256,30.242943': 'A_3',
 '147.056035,30.247646': 'A_3',
 '147.056035,30.249206': 'A_3',
 '147.056043,30.238286': 'A_3',
 '147.056043,30.239846': 'A_3',
 '147.056043,30.241406': 'A_3',
 '147.056043,30.242966': 'A_3',
 '147.056043,30.244526': 'A_3',
 '147.056043,30.246086': 'A_3',
 '147.056052,30.235166': 'A_3',
 '147.056052,30.236726': 'A_3',
 '147.057822,30.24923': 'A_3',
 '147.057831,30.239878': 'A_3',
 '147.057831,30.241438': 'A_3',
 '147.057831,30.242998': 'A_3',
 '147.057831,30.244558': 'A_3',
 '147.057831,30.24611': 'A_3',
 '147.057831,30.24767': 'A_3',
 '147.05784,30.235197': 'A_3',
 '147.05784,30.236757': 'A_3',
 '147.05784,30.238318': 'A_3',
 '147.059619,30.243021': 'A_3',
 '147.059619,30.244581': 'A_3',
 '147.059619,30.246141': 'A_3',
 '147.059619,30.247701': 'A_3',
 '147.059619,30.249261': 'A_3',
 '147.059628,30.235229': 'A_3',
 '147.059628,30.236789': 'A_3',
 '147.059628,30.238341': 'A_3',
 '147.059628,30.239901': 'A_3',
 '147.059628,30.241461': 'A_3',
 '147.061406,30.243052': 'A_3',
 '147.061406,30.244612': 'A_3',
 '147.061406,30.246172': 'A_3',
 '147.061406,30.247732': 'A_3',
 '147.061406,30.249292': 'A_3',
 '147.061415,30.23526': 'A_3',
 '147.061415,30.236812': 'A_3',
 '147.061415,30.238372': 'A_3',
 '147.061415,30.239932': 'A_3',
 '147.061415,30.241492': 'A_3',
 '147.063185,30.282075': 'A_4',
 '147.063185,30.283634': 'A_4',
 '147.063185,30.285194': 'A_4',
 '147.063194,30.286753': 'A_4',
 '147.063194,30.288312': 'A_4',
 '147.063194,30.289872': 'A_4',
 '147.063194,30.291431': 'A_4',
 '147.063194,30.29299': 'A_4',
 '147.063194,30.294549': 'A_4',
 '147.063203,30.296108': 'A_4',
 '147.064973,30.282106': 'A_4',
 '147.064973,30.283666': 'A_4',
 '147.064982,30.285225': 'A_4',
 '147.064982,30.286784': 'A_4',
 '147.064982,30.288343': 'A_4',
 '147.064982,30.289903': 'A_4',
 '147.064982,30.291462': 'A_4',
 '147.064982,30.293021': 'A_4',
 '147.064982,30.29458': 'A_4',
 '147.064991,30.296139': 'A_4',
 '147.06676,30.282137': 'A_4',
 '147.06676,30.283697': 'A_4',
 '147.066769,30.285256': 'A_4',
 '147.066769,30.286815': 'A_4',
 '147.066769,30.288375': 'A_4',
 '147.066769,30.289934': 'A_4',
 '147.066769,30.291493': 'A_4',
 '147.066769,30.293052': 'A_4',
 '147.066769,30.294611': 'A_4',
 '147.066778,30.296171': 'A_4',
 '147.068548,30.282169': 'A_4',
 '147.068557,30.283728': 'A_4',
 '147.068557,30.285287': 'A_4',
 '147.068557,30.286847': 'A_4',
 '147.068557,30.288406': 'A_4',
 '147.068557,30.289973': 'A_4',
 '147.068557,30.291532': 'A_4',
 '147.068557,30.293091': 'A_4',
 '147.068566,30.29465': 'A_4',
 '147.068566,30.29621': 'A_4',
 '147.070336,30.282208': 'A_4',
 '147.070345,30.283767': 'A_4',
 '147.070345,30.285326': 'A_4',
 '147.070345,30.286886': 'A_4',
 '147.070345,30.288445': 'A_4',
 '147.070345,30.290004': 'A_4',
 '147.070345,30.291563': 'A_4',
 '147.070345,30.293122': 'A_4',
 '147.070353,30.294682': 'A_4',
 '147.070353,30.296241': 'A_4',
 '147.072132,30.282239': 'A_4',
 '147.072132,30.283798': 'A_4',
 '147.072132,30.285357': 'A_4',
 '147.072132,30.286917': 'A_4',
 '147.072132,30.288476': 'A_4',
 '147.072132,30.290035': 'A_4',
 '147.072132,30.291594': 'A_4',
 '147.072132,30.293154': 'A_4',
 '147.072141,30.294713': 'A_4',
 '147.072141,30.296272': 'A_4',
 '147.07392,30.28227': 'A_4',
 '147.07392,30.283829': 'A_4',
 '147.07392,30.285389': 'A_4',
 '147.07392,30.286948': 'A_4',
 '147.07392,30.288507': 'A_4',
 '147.07392,30.290066': 'A_4',
 '147.07392,30.291626': 'A_4',
 '147.073929,30.293185': 'A_4',
 '147.073929,30.294752': 'A_4',
 '147.073929,30.296311': 'A_4',
 '147.075707,30.282301': 'A_4',
 '147.075707,30.283861': 'A_4',
 '147.075707,30.28542': 'A_4',
 '147.075707,30.286987': 'A_4',
 '147.075707,30.288546': 'A_4',
 '147.075707,30.290105': 'A_4',
 '147.075707,30.291665': 'A_4',
 '147.075716,30.293224': 'A_4',
 '147.075716,30.294783': 'A_4',
 '147.075716,30.296342': 'A_4',
 '147.077495,30.282332': 'A_4',
 '147.077495,30.283892': 'A_4',
 '147.077495,30.285451': 'A_4',
 '147.077495,30.287018': 'A_4',
 '147.077495,30.288577': 'A_4',
 '147.077495,30.290137': 'A_4',
 '147.077504,30.291696': 'A_4',
 '147.077504,30.293255': 'A_4',
 '147.077504,30.294814': 'A_4',
 '147.077504,30.296373': 'A_4',
 '147.079283,30.282364': 'A_4',
 '147.079283,30.283923': 'A_4',
 '147.079283,30.285482': 'A_4',
 '147.079283,30.287041': 'A_4',
 '147.079283,30.288601': 'A_4',
 '147.079292,30.29016': 'A_4',
 '147.079292,30.291719': 'A_4',
 '147.079292,30.293278': 'A_4',
 '147.079292,30.294838': 'A_4',
 '147.079292,30.296404': 'A_4',
 '147.099,30.142108': 'A_5',
 '147.099,30.14367': 'A_5',
 '147.099,30.145231': 'A_5',
 '147.099,30.146793': 'A_5',
 '147.099,30.148354': 'A_5',
 '147.099,30.149916': 'A_5',
 '147.099,30.15147': 'A_5',
 '147.099,30.153031': 'A_5',
 '147.099,30.154592': 'A_5',
 '147.099,30.156154': 'A_5',
 '147.100797,30.1421': 'A_5',
 '147.100797,30.143662': 'A_5',
 '147.100797,30.145224': 'A_5',
 '147.100797,30.146785': 'A_5',
 '147.100797,30.148347': 'A_5',
 '147.100797,30.149908': 'A_5',
 '147.100797,30.15147': 'A_5',
 '147.100797,30.153031': 'A_5',
 '147.100797,30.154592': 'A_5',
 '147.100797,30.156154': 'A_5',
 '147.102594,30.1421': 'A_5',
 '147.102594,30.143662': 'A_5',
 '147.102594,30.145224': 'A_5',
 '147.102594,30.146785': 'A_5',
 '147.102594,30.148347': 'A_5',
 '147.102594,30.149908': 'A_5',
 '147.102594,30.15147': 'A_5',
 '147.102594,30.153031': 'A_5',
 '147.102594,30.154592': 'A_5',
 '147.102594,30.156154': 'A_5',
 '147.10439,30.142093': 'A_5',
 '147.10439,30.143654': 'A_5',
 '147.10439,30.145216': 'A_5',
 '147.10439,30.146777': 'A_5',
 '147.10439,30.148339': 'A_5',
 '147.10439,30.1499': 'A_5',
 '147.10439,30.151462': 'A_5',
 '147.10439,30.153023': 'A_5',
 '147.10439,30.154585': 'A_5',
 '147.10439,30.156146': 'A_5',
 '147.106187,30.1452': 'A_5',
 '147.106187,30.146762': 'A_5',
 '147.106187,30.148323': 'A_5',
 '147.106187,30.149885': 'A_5',
 '147.106187,30.151446': 'A_5',
 '147.106187,30.153008': 'A_5',
 '147.106187,30.154569': 'A_5',
 '147.106196,30.142077': 'A_5',
 '147.106196,30.143639': 'A_5',
 '147.106196,30.15613': 'A_5',
 '147.107992,30.142061': 'A_5',
 '147.107992,30.143623': 'A_5',
 '147.107992,30.145185': 'A_5',
 '147.107992,30.146746': 'A_5',
 '147.107992,30.148308': 'A_5',
 '147.107992,30.149869': 'A_5',
 '147.107992,30.151431': 'A_5',
 '147.107992,30.152992': 'A_5',
 '147.107992,30.154553': 'A_5',
 '147.107992,30.156115': 'A_5',
 '147.109789,30.142046': 'A_5',
 '147.109789,30.143607': 'A_5',
 '147.109789,30.145169': 'A_5',
 '147.109789,30.14673': 'A_5',
 '147.109789,30.148292': 'A_5',
 '147.109789,30.149853': 'A_5',
 '147.109789,30.151415': 'A_5',
 '147.109789,30.152976': 'A_5',
 '147.109789,30.154538': 'A_5',
 '147.109789,30.156099': 'A_5',
 '147.111595,30.14203': 'A_5',
 '147.111595,30.143592': 'A_5',
 '147.111595,30.145153': 'A_5',
 '147.111595,30.146715': 'A_5',
 '147.111595,30.148276': 'A_5',
 '147.111595,30.149838': 'A_5',
 '147.111595,30.151399': 'A_5',
 '147.111595,30.152961': 'A_5',
 '147.111595,30.154522': 'A_5',
 '147.111595,30.156084': 'A_5',
 '147.113391,30.146691': 'A_5',
 '147.113391,30.148253': 'A_5',
 '147.113391,30.149814': 'A_5',
 '147.113391,30.151376': 'A_5',
 '147.113391,30.152937': 'A_5',
 '147.1134,30.142007': 'A_5',
 '147.1134,30.143568': 'A_5',
 '147.1134,30.14513': 'A_5',
 '147.1134,30.154499': 'A_5',
 '147.1134,30.15606': 'A_5',
 '147.115197,30.141983': 'A_5',
 '147.115197,30.143545': 'A_5',
 '147.115197,30.145106': 'A_5',
 '147.115197,30.146668': 'A_5',
 '147.115197,30.148229': 'A_5',
 '147.115197,30.149791': 'A_5',
 '147.115197,30.151352': 'A_5',
 '147.115197,30.152914': 'A_5',
 '147.115197,30.154475': 'A_5',
 '147.115197,30.156037': 'A_5',
 '147.099009,30.243551': 'A_6',
 '147.099009,30.245111': 'A_6',
 '147.099009,30.246671': 'A_6',
 '147.099009,30.248231': 'A_6',
 '147.099009,30.249791': 'A_6',
 '147.099018,30.235759': 'A_6',
 '147.099018,30.237319': 'A_6',
 '147.099018,30.238879': 'A_6',
 '147.099018,30.240431': 'A_6',
 '147.099018,30.241991': 'A_6',
 '147.100806,30.245111': 'A_6',
 '147.100806,30.246671': 'A_6',
 '147.100806,30.248231': 'A_6',
 '147.100806,30.249791': 'A_6',
 '147.100815,30.235751': 'A_6',
 '147.100815,30.237311': 'A_6',
 '147.100815,30.238871': 'A_6',
 '147.100815,30.240431': 'A_6',
 '147.100815,30.241991': 'A_6',
 '147.100815,30.243551': 'A_6',
 '147.102603,30.245104': 'A_6',
 '147.102603,30.246663': 'A_6',
 '147.102603,30.248223': 'A_6',
 '147.102603,30.249783': 'A_6',
 '147.102612,30.237311': 'A_6',
 '147.102612,30.238871': 'A_6',
 '147.102612,30.240431': 'A_6',
 '147.102612,30.241991': 'A_6',
 '147.102612,30.243544': 'A_6',
 '147.102621,30.235751': 'A_6',

In [5]:
# change x_coord, y_coord of start&end in transfer.csv to region_id, according to the returned dict
# from get_grid_dict, drop those mismatches, write output to csv
def coord2ID(data_path, city_name, output_path):
    city_path = os.path.join(data_path, "city_%s" % city_name)
    grid_dict = get_grid_dict(city_path, city_name)

    trans_filename = os.path.join(city_path, "transfer.csv")
    output_file = os.path.join(output_path, "%s_transfer.csv" % (city_name))
    with open(trans_filename, 'r') as f, open(output_file, 'w') as writer:
        for line in f:
            items = line.strip().split(',')
            start_axis = ",".join(items[1:3])
            end_axis = ",".join(items[3:5])
            index = items[5]
            try:
                start_ID = grid_dict[start_axis]
                end_ID = grid_dict[end_axis]
            except KeyError: # remove no ID axis
                continue

            writer.write("%s,%s,%s,%s\n" % (items[0], start_ID, end_ID, index))

In [6]:
coord2ID("Data", "A", "Data")

In [7]:
# sum up transfer index of 24 hours (calculate transfer index per day)
def calc_index_in_one_day(data_path, city_name):
    trans_filename = os.path.join(data_path, "%s_transfer.csv" % (city_name))
    transfer = pd.read_csv(trans_filename, 
            header=None,
            names=['hour', 's_region', 'e_region', 'index'])
        
    df = transfer.groupby(['s_region', 'e_region'])['index'].sum().reset_index()
    df = df[['s_region', 'e_region', 'index']]
    #  df = df.T
    #  df_list.append(df)
    return df

In [8]:
t = calc_index_in_one_day("Data", "A")
t.head()

  s_region e_region  index
0      A_0      A_0  187.5
1      A_0      A_1    0.3
2      A_0     A_10    0.8
3      A_0    A_100    0.2
4      A_0    A_108    0.4

In [9]:
# calculate migration index per day
def process_city_migration(data_path, city_name):
    filename = os.path.join(data_path, "city_%s" % city_name, "migration.csv")
    migration = pd.read_csv(filename, 
                            sep=',', 
                            header=None,
                            names=['date', 's_city', 'e_city', city_name])

    # only use moving in "city" data, ignore moving out data
    df = migration[migration.e_city == city_name]
    df = df[["date", city_name]]

    # calculate total move in data of "city"
    df = df.groupby('date')[city_name].sum().reset_index()
    return df

In [10]:
m = process_city_migration("Data", "A")
m.head()

       date         A
0  21200501  0.811620
1  21200502  0.742641
2  21200503  0.964937
3  21200504  0.771767
4  21200505  0.727024

In [11]:
# new_migration df: date, start_region, end_region, new_index
def migration_process(data_path, city_list, output_path):
    for city_name in city_list:
        coord2ID(data_path, city_name, output_path)
        transfer = calc_index_in_one_day(output_path, city_name)
        migration = process_city_migration(data_path, city_name)

        df_list = []
        for i in range(len(migration)):
            df = transfer.copy()
            date = migration.date[i]
            index = migration[city_name][i]
            # new_index = transfer index between regions * migration index in city per day
            df['index'] = df['index'] * index
            df['date'] = date
            df = df[['date', 's_region', 'e_region', 'index']]
            df_list.append(df)

        df = pd.concat(df_list, axis=0)

        df.to_csv(os.path.join(output_path, '%s_migration.csv' % city_name), 
                header=None,
                index=None,
                float_format = '%.4f')

In [12]:
migration_process("Data", ["A", "B"], "Data")

In [13]:
test = pd.read_csv("Data/A_migration.csv", sep=',', 
                                header=None,
                                names=['date', 's_region', 'e_region', 'index'])
test.head()

       date s_region e_region     index
0  21200501      A_0      A_0  152.1787
1  21200501      A_0      A_1    0.2435
2  21200501      A_0     A_10    0.6493
3  21200501      A_0    A_100    0.1623
4  21200501      A_0    A_108    0.3246

In [14]:
# create adjacent matrix, column as start_region, row as end_region
def adj_matrix_process(data_path, city_list, region_nums, output_path):
    total_region_num = np.sum(region_nums)
    adj_matrix = np.zeros((total_region_num, total_region_num))

    offset = 0
    for i, city in enumerate(city_list):
        filename = os.path.join(output_path, "%s_migration.csv" % city)
        migration = pd.read_csv(filename, 
                                sep=',', 
                                header=None,
                                names=['date', 's_region', 'e_region', 'index'])

        matrix = np.zeros((region_nums[i], region_nums[i]))
        order = sorted(range(region_nums[i]), key=lambda x:str(x))
        for j, idx in enumerate(order):
            target_region = "%s_%d" % (city, idx)
            # only use moving in "city" data, ignore moving out data
            df = migration[migration['e_region'] == target_region]

            df = df.groupby('s_region')['index'].mean().reset_index()
            #  res = df['index'].values.reshape(-1)
            for k, o in enumerate(order):
                s_region_id = "%s_%d" % (city, o)
                try:
                    value = df[df['s_region'] == s_region_id]['index'].values[0]
                except:
                    value = 0.0
                if s_region_id == target_region:
                    value = 0.0
                matrix[j, k] = value

        # merge two adj_matrix
        adj_matrix[offset:(offset + region_nums[i]), offset:(offset + region_nums[i])] = matrix
        offset += region_nums[i]

    file_to_save = os.path.join(output_path, 'adj_matrix.npy')
    print("saving result to %s" % file_to_save)
    np.save(file_to_save, adj_matrix)

In [15]:
o = sorted(range(118), key=lambda x:str(x))
o

[0,
 1,
 10,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 11,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 3,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 4,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 5,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 6,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 7,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 8,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 9,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [16]:
test[(test['e_region'] == "A_0") & (test['s_region'] == "A_0")]

            date s_region e_region     index
0       21200501      A_0      A_0  152.1787
13056   21200502      A_0      A_0  139.2451
26112   21200503      A_0      A_0  180.9257
39168   21200504      A_0      A_0  144.7063
52224   21200505      A_0      A_0  136.3170
65280   21200506      A_0      A_0  206.4771
78336   21200507      A_0      A_0  140.7943
91392   21200508      A_0      A_0  188.3554
104448  21200509      A_0      A_0  166.4551
117504  21200510      A_0      A_0  166.9714
130560  21200511      A_0      A_0  201.4289
143616  21200512      A_0      A_0  150.5444
156672  21200513      A_0      A_0  134.1480
169728  21200514      A_0      A_0  133.7653
182784  21200515      A_0      A_0  135.7884
195840  21200516      A_0      A_0  158.6365
208896  21200517      A_0      A_0  147.0697
221952  21200518      A_0      A_0  190.8219
235008  21200519      A_0      A_0  157.9499
248064  21200520      A_0      A_0  140.8914
261120  21200521      A_0      A_0  195.0925
274176  21200522      A_0      A_0  149.3416
287232  21200523      A_0      A_0  189.6068
300288  21200524      A_0      A_0  132.7936
313344  21200525      A_0      A_0  136.9789
326400  21200526      A_0      A_0  138.7834
339456  21200527      A_0      A_0  133.9840
352512  21200528      A_0      A_0  175.3671
365568  21200529      A_0      A_0  142.3494
378624  21200530      A_0      A_0  206.7444
391680  21200531      A_0      A_0  179.0726
404736  21200601      A_0      A_0  137.5623
417792  21200602      A_0      A_0  125.4608
430848  21200603      A_0      A_0  125.6066
443904  21200604      A_0      A_0  128.3221
456960  21200605      A_0      A_0  101.5255
470016  21200606      A_0      A_0  124.5254
483072  21200607      A_0      A_0  125.6066
496128  21200608      A_0      A_0   95.4199
509184  21200609      A_0      A_0   26.1589
522240  21200610      A_0      A_0  128.3221
535296  21200611      A_0      A_0   71.2173
548352  21200612      A_0      A_0  144.5061
561408  21200613      A_0      A_0   95.4199
574464  21200614      A_0      A_0  101.5255

In [17]:
c = test[test['e_region'] == "A_0"]
c

            date s_region e_region     index
0       21200501      A_0      A_0  152.1787
70      21200501      A_1      A_0    0.0812
156     21200501     A_10      A_0    0.8116
272     21200501    A_100      A_0    0.3246
607     21200501    A_103      A_0    0.1623
...          ...      ...      ...       ...
586164  21200614     A_89      A_0    0.0541
586279  21200614      A_9      A_0    0.1624
586620  21200614     A_92      A_0    0.0541
586963  21200614     A_95      A_0    0.0541
587072  21200614     A_96      A_0    0.0541

[3015 rows x 4 columns]

In [18]:
c = c.groupby('s_region')['index'].mean().reset_index()
c

   s_region       index
0       A_0  144.105862
1       A_1    0.076853
2      A_10    0.768567
3     A_100    0.307436
4     A_103    0.153711
..      ...         ...
62     A_89    0.076853
63      A_9    0.230571
64     A_92    0.076853
65     A_95    0.076853
66     A_96    0.076853

[67 rows x 2 columns]

In [19]:
c[c['s_region'] == "A_100"]['index'].values[0]

0.30743555555555546

In [20]:
adj_matrix_process("Data", ["A", "B"], [118, 30], "Data")

saving result to Data/adj_matrix.npy

In [21]:
ad = np.load("Data/adj_matrix.npy")
ad

array([[ 0.        ,  0.07685333,  0.76856667, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.23057111,  0.        ,  0.46112889, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.61484444,  0.23057111,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
        45.65078444, 29.98957111],
       [ 0.        ,  0.        ,  0.        , ..., 42.61851111,
         0.        , 39.71952444],
       [ 0.        ,  0.        ,  0.        , ..., 29.28982   ,
        39.68619556,  0.        ]])

In [22]:
# 118 + 30
ad.shape

(148, 148)

In [23]:
# infection matrix & region_names
def infection_process(data_path, city_list, region_nums, output_path):
    res = []
    region_name_list = []
    for i, city in enumerate(city_list):
        filename = os.path.join(data_path, "city_%s" % city, "infection.csv")
        migration = pd.read_csv(filename, 
                                sep=',', 
                                header=None,
                                names=["city", "region", "date", "infect"])

        order = sorted(range(region_nums[i]), key=lambda x:str(x))
        for j, idx in enumerate(order):
            target_region = idx #str(idx)
            df = migration[migration['region'] == target_region].reset_index(drop=True)
            if i == 0 and j == 0:
                df = df[['date', 'infect']]
            else:
                df = df[['infect']]

            df = df.rename(columns={'infect': '%s_%d' % (city, idx)})
            region_name_list.append("%s_%d" % (city, idx))

            res.append(df)
    df = pd.concat(res, axis=1)

    file_to_save = os.path.join(output_path, "infection.csv")
    print("saving result to %s" % file_to_save)
    # format: [date, A, B, C, D, E]
    df.to_csv(file_to_save, index=False)

    region_name_file = os.path.join(output_path, "region_names.txt")
    with open(region_name_file, 'w') as f:
        names = ' '.join(region_name_list)
        f.write(names + '\n')

In [29]:
mm = pd.read_csv("Data/city_A/infection.csv", sep=',', 
                                header=None,
                                names=["city", "region", "date", "infect"])
mm.head()

  city  region      date  infect
0    A       0  21200501       0
1    A       0  21200502       0
2    A       0  21200503       0
3    A       0  21200504       0
4    A       0  21200505       0

In [33]:
dfdf = mm[mm['region'] == 0].reset_index(drop=True)
dfdf

   city  region      date  infect
0     A       0  21200501       0
1     A       0  21200502       0
2     A       0  21200503       0
3     A       0  21200504       0
4     A       0  21200505       0
5     A       0  21200506       0
6     A       0  21200507       0
7     A       0  21200508       0
8     A       0  21200509       0
9     A       0  21200510       0
10    A       0  21200511       0
11    A       0  21200512       0
12    A       0  21200513       0
13    A       0  21200514       0
14    A       0  21200515       0
15    A       0  21200516       0
16    A       0  21200517       0
17    A       0  21200518       0
18    A       0  21200519       0
19    A       0  21200520       0
20    A       0  21200521       0
21    A       0  21200522       0
22    A       0  21200523       0
23    A       0  21200524       0
24    A       0  21200525       0
25    A       0  21200526       1
26    A       0  21200527      19
27    A       0  21200528      33
28    A       0  21200529      41
29    A       0  21200530      59
30    A       0  21200531      63
31    A       0  21200601     163
32    A       0  21200602     420
33    A       0  21200603     165
34    A       0  21200604     189
35    A       0  21200605     156
36    A       0  21200606      46
37    A       0  21200607      84
38    A       0  21200608      75
39    A       0  21200609      48
40    A       0  21200610      36
41    A       0  21200611      60
42    A       0  21200612      29
43    A       0  21200613      38
44    A       0  21200614      32

In [24]:
infection_process("Data", ["A", "B"], [118, 30], "Data")

saving result to Data/infection.csv

In [26]:
pd.read_csv("Data/infection.csv").head()

,date,A_0,A_1,A_10,A_100,A_101,A_102,A_103,A_104,A_105,...,B_27,B_28,B_29,B_3,B_4,B_5,B_6,B_7,B_8,B_9
0,21200501,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,21200502,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,21200503,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,21200504,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,21200505,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
pd.read_table("Data/region_names.txt", sep=' ', header=None)

,0,1,2,3,4,5,6,7,8,9,...,138,139,140,141,142,143,144,145,146,147
0,A_0,A_1,A_10,A_100,A_101,A_102,A_103,A_104,A_105,A_106,...,B_27,B_28,B_29,B_3,B_4,B_5,B_6,B_7,B_8,B_9

In [39]:
# similar to infection matrix, merge the new migration matrix
def region_migration_process(data_path, city_list, region_nums, output_path):
    res = []
    #  import ipdb; ipdb.set_trace()
    for i, city in enumerate(city_list):
        filename = os.path.join(output_path, "%s_migration.csv" % city)
        migration = pd.read_csv(filename, 
                                sep=',', 
                                header=None,
                                names=['date', 's_region', 'e_region', 'index'])

        order = sorted(range(region_nums[i]), key=lambda x:str(x))
        for j, idx in enumerate(order):
            target_region = "%s_%d" % (city, idx)
            df = migration[migration['e_region'] == target_region]

            df = df.groupby('date')['index'].sum().reset_index()

            if i == 0 and j == 0:
                df = df[['date', 'index']]
            else:
                df = df[['index']]

            df = df.rename(columns={'index': target_region})

            res.append(df)

    df = pd.concat(res, axis=1)

    file_to_save = os.path.join(output_path, "region_migration.csv")
    print("saving result to %s" % file_to_save)
    # format: [date, A, B, C, D, E]
    df.to_csv(file_to_save, index=False, float_format = '%.2f')

In [40]:
region_migration_process("Data", ["A", "B"], [118, 30], "Data")

saving result to Data/region_migration.csv

In [ ]:
if __name__=="__main__":
    parser = argparse.ArgumentParser()
    parser.add_argument('--data_path', type=str, default='./dataset/train_data')
    parser.add_argument('--output_path', type=str, default='./dataset/data_processed')
    args = parser.parse_args()

    if not os.path.exists(args.output_path):
        os.makedirs(args.output_path)

    city_list = ["A", "B", "C", "D", "E"]
    region_nums = [118, 30, 135, 75, 34]

    print("migration process")

    migration_process(args.data_path, city_list, args.output_path)
    adj_matrix_process(args.data_path, city_list, region_nums, args.output_path)
    infection_process(args.data_path, city_list, region_nums, args.output_path)
    region_migration_process(args.data_path, city_list, region_nums, args.output_path)